@import "variables.scss";

.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 14px 14px 15px;

  &__img {
    box-sizing: content-box;
    padding: 13px 2px 17px;
    width: 160px;
    height: 134px;
    align-self: center;
    transition: scale , border, linear 0.5s;
    border: 3px solid transparent;
    
  }

  &__img:hover {
    transform: scale(1.2);
    border-color: #f3f3f3;
    border-radius: 5px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 25px 0 5px;
  }

  &__code {
    font-size: $default-size;
    line-height: $default-height;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__rate,
  &__price {
    @include rate-price;
    
  }

  &__rate {
    margin-bottom: 20px;
  }

  &__feedback {
    text-align: right;
    font-size: $default-size;
    line-height: $default-height;

  }

  &__descr {
    text-align: right;
    font-size: $default-size;
    line-height: $default-height;
    margin-bottom: 20px;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ffff;
    padding: 12px 0 11px;
    height: 40px;
    background: $button-hover-color;
    border-radius: 5px;
    transition: color 2s, background-color 2s;

    &:hover {
      color: $button-hover-color;
      background: white;
      border: 1px solid $button-hover-color;
      
    }
    
  }

  &:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);

      
  }
}
