
$default-size: 11px;
$default-font: "Roboto", sans-serif;
$default-height: 13px;
$default-weight: 400;
$button-color: #00acdc;
$color_hover: #00acdc;
$box-shadow_hower: 0 2px 5px rgba(0, 0, 0, 0.07);
